/* font */
@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/roboto/Roboto-Regular.ttf") format('truetype');
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/roboto/Roboto-Bold.ttf") format('truetype');
	font-weight: bold;
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/roboto/Roboto-Italic.ttf") format('truetype');
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Roboto";
	src: url("../assets/fonts/roboto/Roboto-BoldItalic.ttf") format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: Roboto, sans-serif;
	background-color: papayawhip;
}

canvas {
	background-color: white;
	border: 1px solid black;
}

.anchor {
	display: block;
	position: relative;
	visibility: hidden;
	top: -36px; /* compensate for the navbar */
}

.navbar {
	margin: auto;
	display: table;
	position: sticky;
	top: 0.25rem;
	background-color: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(5px);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.125);
	font-size: 14pt;
	margin-top: 1rem;
	border-radius: 1rem;
}

.navbar ul {
	display: table-cell;
	text-align: center;
	list-style-type: none;
	vertical-align: bottom;
	margin: 0;
	padding: 0;
}

.navbar li {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: inline-block;
}

.navbar a:hover {
	text-decoration: underline;
}

.page {
	max-width: 1024px;
	margin: auto;
}

.gallery ul {
	display: table-cell;
	text-align: center;
	list-style-type: none;
	vertical-align: center;
	margin: 0;
	padding: 0;
}

.gallery li {
	display: inline-block;
}

.gallery img {
	max-width: 333px;
}

.line {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.btn {
	background-color: lightgray;
	padding: 0.25rem;
	border: 1px solid gray;
	cursor: pointer;
	font-size: 12pt;
	margin: 0.125rem;
}

a.btn {
	color: black;
	text-decoration: none;
}

a.btn:hover {
	background-color: white;
}

.ico-btn {
	background-image: url(../assets/icons/a.png);
	content: "";
	padding-left: 10pt;
	padding-right: 10pt;
	background-size: 13pt 13pt;
	background-repeat: no-repeat;
	background-position: center;
}

.ico img {
	width: 32px;
	height: 32px;
	padding-left: 5pt;
	padding-right: 5pt;
}

a.ico {
	text-decoration: none;
}

.footer {
	margin-top: 3rem;
	text-align: center;
	width: 100%;
}