<a class='anchor' id='buttons'></a>

<h2>Buttons</h2>

<p>Probably every modern Web site uses some kind of button.</p>

<h3>Button Types</h3>

<p>There is a multitude of ways to implement buttons.</p>

<div class='line'>
	&lt;button&gt; as button: <button onclick='btn_fct();' class='btn'>Add to cart!</button>
</div>

<div class='line'>
	&lt;button&gt; as button with title: <button onclick='btn_fct();' class='btn' title='Buy item.'>Add to cart!</button>
</div>

<div class='line'>
	&lt;a&gt; as button: <a href='javascript:void(0);' onclick='btn_fct();' class='btn' title=''>Add to cart!</a>
</div>

<div class='line'>
	&lt;div&gt; as button: <div onclick='btn_fct();' class='btn' style='display: inline-block;'>Add to cart!</div>
</div>

<div class='line'>
	&lt;div&gt; as button with only an icon:<a href='javascript:void(0);' onclick='btn_fct();' class='btn'><i class='ico-btn'></i></a>
</div>

<!--
<div class='line'>
	&lt;div&gt; as button with icon: <a href='javascript:void(0);' onclick='btn_fct();' class='btn'><i class='ico-a'></i>Add to cart!</a>
</div>

-->

<h3>Icon Experiment</h3>

<p>Especially social media buttons are often without any text.</p>

<div class='line'>
	Icon only:
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/social-a.png'>
	</a>
</div>

<div class='line'>
	Icon and link:
	<a href='https://www.facebook.com/' class='ico'>
		<img src='assets/icons/social-a.png'>
	</a>
</div>

<div class='line'>
	Icon and title:
	<a href='https://raphaelmenges.github.io/' class='ico' title='Facebook'>
		<img src='assets/icons/social-a.png'>
	</a>
</div>

<div class='line'>
	Named icon:
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/facebook.png'>
	</a>
</div>

<h3>Icon Gallery</h3>

<div class='gallery'>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/social-a.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/social-b.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/social-c.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/social-d.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/social-e.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/a.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/b.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/c.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/d.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/e.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/f.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/g.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/h.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/i.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/j.png'>
	</a>
	<a href='https://raphaelmenges.github.io/' class='ico'>
		<img src='assets/icons/k.png'>
	</a>
</div>

<script>
	function btn_fct() {
		alert('Button clicked!');
	}
</script> 