<a class='anchor' id='images'></a>

<h2>Images</h2>

<p>Images are omnipresent in the Web and can contain text.</p>

<h3>Standard pictures</h3>

<div class='gallery'>
	<ul>
		<li><img src='assets/images/dress.jpg'></li>
		<li><img src='assets/images/bag.jpg'></li>
		<li><img src='assets/images/car.jpg'></li>
	</ul>
</div>

<h3>Text-only images</h3>

<p>One can even embed entire paragraphs into an image.</p>

Our whole universe was in a hot dense state, then nearly fourteen billion years ago expansion started. Wait... The Earth began to cool, the autotrophs began to drool. Neanderthals developed tools, we built a wall (we built the pyramids). Math, science, history, unraveling the mysteries, that all started with the big bang! (this text is in the HTML source!)
<br/><br/>
<img src='assets/images/text.png'>

<h3>Mixed - pictures and text</h3>

Images can have both at once, photos and embed text.

<div class='gallery'>
	<ul>
		<li><img src='assets/images/dog.jpg'></li>
		<li><img src='assets/images/dog-simple-arial.jpg'></li>
		<li><img src='assets/images/dog-color-arial.jpg'></li>
		<li><img src='assets/images/dog-nobg-arial.jpg'></li>
		<li><img src='assets/images/dog-advanced-arial.jpg'></li>
		<li><img src='assets/images/dog-freestyle-script.jpg'></li>
	</ul>
</div>